<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <div>
        <h1>Welcome User</h1>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <h3>Goals for 2021</h3>
        <!-- <h3>Daily tasks</h3> -->
    </div>
    <table>
        <thead>
            <tr>
                <th>Goal</th>
                <th>Start Date</th>
                <th>Goal Date</th>
                <th>Update Goal Status </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Goal listed here</td>
                <td>Start Date</td>
                <td>Goal Date</td>
                <td><a href="/viewgoals">View</a> <a href="/editgoal">Edit</a> <a href="">tasks</a> <a href="">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/setgoal">Add a new goal</a> <a href="/viewgoals">View your goals</a>
</body>

</html>